body{background-color: black;
color: #00ff00;
font-family: 'Courier New', Courier, monospace;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
}
