body {
    background-color: black;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}



.cum{

    margin-right: 20px;
    width: 40px;
    height: auto;

}


p, h2, h3, ul{
    color: grey;
}

p{
    text-align: center;
}

header {
    
    color: white;
    padding: 10px 0;
    text-align: center;
    background-color: black;
    border: 5px solid cornflowerblue;
    box-shadow: 0 0 20px cornflowerblue, inset 0 0 20px cornflowerblue;
    font-size: 2.5em;
    font-family: fantasy;
    font-style: italic;
    


}

#significado:hover{
 
    border: 5px solid red;
    box-shadow: 0 0 20px red, inset 0 0 20px red;
    animation: animate 1s linear infinite;
    

}

@keyframes animate{
    100%{
        filter: hue-rotate(360deg);
    }
}

#origen:hover{
    border: 5px solid red;
    box-shadow: 0 0 20px red, inset 0 0 20px red;
}





nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    transition: .3s;
    
}

section:hover {
    border: 5px solid cornflowerblue;
    box-shadow: 0 0 20px cornflowerblue, inset 0 0 20px cornflowerblue;
}

h2 {
    border-bottom: 2px solid cornflowerblue;
    padding-bottom: 10px;
}


a{
  transition: .3s; 
  
}

a:hover{
    background-color: cornflowerblue;
    color: black;
    box-shadow: 0px 0px 20px cornflowerblue, inset 0px 0px 20px cornflowerblue;
}

.bolillo{
    background-color: rgb(0, 56, 160);

}

.nigga{
    color: white;
}

.siu{
    text-align: center;
}

.guero{
    text-align: center;
}

.prieto{
    text-align: center;
}


button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

footer {
    text-align: center;
    padding: 20px;
    background: black;
    color: white;
    border: 5px solid cornflowerblue;
    box-shadow: 0 0 20px cornflowerblue, inset 0 0 20px cornflowerblue;

}