*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

h2{text-align: center;}

.contenido{
    width: 400px;
    background: black;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Calibri';
    color: white;
    border: 5px solid gray;
    
    
}

.contenido:hover{
    border: 5px solid red;
    box-shadow: 0 0 20px red, inset 0 0 20px red;
    animation: animate 1s linear infinite;
    

}

@keyframes animate{
    100%{
        filter: hue-rotate(360deg);
    }
}



.contenido h2{
    font-size: 22px;
    margin-bottom: 20px;
}

 form input:hover{

    border: 5px solid red;
    box-shadow: 0 0 20px red, inset 0 0 20px red;
}


input{
    width: 100%;
    background: black;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid gray;
    font-family: 'Calibri';
    font-size: 18px;
    color: white;
}


    




.checkbox-login{
    display: flex;
    align-items: center;
    margin: 10px 0;
    margin-right: 5px;
}


    
  
  
    





.waos {
    margin-top: 15px;
    color: #bbb;
    text-decoration: underline;
    text-align: center;
}

